@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer components {
    .body1{
       @apply font-medium text-[1.6rem] leading-[1.9rem];
    }
    .body2{
        @apply font-semibold text-[1.6rem] leading-[1.9rem];
     }
    .body3{
        @apply font-normal text-[1.8rem] leading-[2.2rem];
     }
    .body4{
        @apply font-medium text-[1.8rem] leading-[2.2rem];
     }
    .body5{
        @apply font-bold text-[1.8rem] leading-[2.2rem];
     }
    .body6{
        @apply font-semibold text-[2.2rem] leading-[3rem];
     }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 40px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      margin: 1px 0;
      border-radius: 100vh;
      
      background: #E7E7E7;
      background-clip: padding-box;
      border: 17px solid rgba(0, 0, 0, 0);
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #000000;
      border-radius: 100vh;
      background-clip: padding-box;
      border: 17px solid rgba(0, 0, 0, 0);
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #8B8B8B;
      background-clip: padding-box;
      border: 17px solid rgba(0, 0, 0, 0);
    }
  }