@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@layer components {

    .text-body1-pc{
       @apply font-medium pc:text-[1.6rem] pc:leading-[1.9rem];
    }
    .text-body2-pc{
       @apply font-semibold pc:text-[1.6rem] pc:leading-[1.9rem];
    }
    .text-body3-pc{
       @apply font-normal pc:text-[1.8rem] pc:leading-[2.2rem];
    }
    .text-body4-pc{
       @apply font-medium pc:text-[1.8rem] pc:leading-[2.2rem];
    }
    .text-body5-pc{
       @apply font-bold pc:text-[1.8rem] pc:leading-[2.2rem];
    }
    .text-body6-pc{
       @apply font-semibold pc:text-[2.2rem] pc:leading-[3rem];
    }
    .text-body7-pc{
      @apply font-bold pc:text-[2.4rem] pc:leading-[3rem];
   }
    .text-body1-mo{
       @apply font-medium text-[1.6rem] leading-[1.9rem];
    }
    .text-body2-mo{
       @apply font-semibold text-[1.6rem] leading-[1.9rem];
    }
    .text-body3-mo{
       @apply font-normal text-[1.2rem] leading-[1.44rem];
    }
    .text-body4-mo{
       @apply font-semibold text-[1.2rem] leading-[1.4rem];
    }
    .text-body5-mo{
       @apply font-medium text-[1.4rem] leading-[2rem];
    }
    .text-body6-mo{
       @apply font-semibold text-[2.2rem] leading-[3rem];
    }
  
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 0.4rem;
    }
  
   .scrollbar::-webkit-scrollbar-track {
     
      border-radius: 2rem;
      background: #E7E7E7;
    
   
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #000000;
      border-radius: 6rem;
     
     
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #8B8B8B;

    }
   .certdates-scrollbar::-webkit-scrollbar {
      width: 0.4rem;
    }
  
   .certdates-scrollbar::-webkit-scrollbar-track {
     
      border-radius: 2rem;
      background: #FAFAFA;
    
   
    }
  
   .certdates-scrollbar::-webkit-scrollbar-thumb {
      background: #E7E7E7;
      border-radius: 6rem;
     
     
    }
  
   
    
  }


